@font-face {
    font-family:'PT-Sans';
    src: url(/assets/fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'Aladin';
    src: url(/assets/fonts/Aladin-Regular.ttf);
        
}

body {
    background: url(/assets/images/bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}
    
#phoenics{
    color: rgba(33, 31, 31, 1);
    font-family: 'Aladin';  /* The 'Aladin' font can be inputted in any letter format, either lowercase or uppercase. */
    font-style: normal;
    font-size: 150px;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 150px;
}

#container {
    padding-bottom:-400% ;
}


p {
    font-family:'PT-Sans';  
    /* Same as the 'Aladin' font. Just don't forget the hyphen between it. */
    margin-top: -7%;
    color: rgba(205, 53, 53, 1);
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
}

/* The 'btn' describes the transition when hovered by the user's mouse. */
.btn {
font-size: 40px;
padding: 6px 20px 10px 20px;

 font-family: 'aladin';
 letter-spacing: 2px;
 background:rgba(33, 31, 31, 1);
 color: white;
 border-radius: .5rem;
 border-bottom: 2px solid rgba(205, 53, 53, 1);
 border-right: 2px solidrgba(205, 53, 53, 1);
 border-top: 2px solid white;
 border-left: 2px solid white;
 transition-duration: 1s;
 transition-property: border-top, 
    border-left, 
    border-bottom,
    border-right,
    box-shadow;
}

.btn:hover {
 border: 2px rgb(137, 27, 27);
 box-shadow:rgb(137, 27, 27) 5px 5px, rgb(238, 83, 83) 10px 10px, rgb(244, 162, 162) 15px 15px;
}
